<h3>Search Result</h3>

<div id="station">
  <p>Station Name: <%= @station.name %></p>
  <p>Address: <%= @station.address %></p>
  <p>Fuel Type: <%= @station.fuel_type %></p>
  <p>Access Time: <%= @station.access_time %></p>
</div>

<div id="directions">
  <p>Distance: <%= @route.distance.round(2) %> Miles</p>
  <p>Estimated Travel Time: <%= @route.time %></p>
  <p>Directions: </p>
  <% @route.directions.each do |direction| %>
    <p><%= @route.directions.index(direction) + 1 %>. <%= direction %></p>
  <% end %>
</div>
